<div class="container">
    <div class="main-header">
        <mat-icon>account_balance</mat-icon>
        <h1>MyBanking</h1>
    </div>
    <mat-card class="login-card">
        <mat-card-header class="mat-card-header">
            <mat-card-title>Welcome Back</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (isLoginMode) {
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error>Enter a valid email</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                @if (errorMessage) {
                    <p class="error-message">{{ errorMessage }}</p>
                }

                <button mat-raised-button color="primary">Login</button>
                <p style="text-align: center;">Don't have an account?
                    <a routerLink="/signup">Signup</a>
                </p>
            </form>
            }
            @if (!isLoginMode) {
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-error>Name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error>Enter a valid email</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error>Minimum 6 characters</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword">
                    @if (signupForm.get('confirmPassword')?.hasError('required')) {
                    <mat-error>Confirm password is required</mat-error>
                    }
                    @if (signupForm.get('confirmPassword')?.hasError('passwordMismatch')) {
                    <mat-error>Passwords do not match</mat-error>
                    }
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Sign Up</button>
                <p style="text-align: center;">Already have an account?
                    <a routerLink="/login">Login</a>
                </p>
            </form>
            }

        </mat-card-content>
    </mat-card>
</div>