<app-navbar></app-navbar>
<div class="accounts-container">
  <div class="accounts-header">
    <h2>My Accounts</h2>
    <div class="header-actions">
      <app-custom-button label="Create Account" icon="add" type="button" routerLink="/accounts/create"></app-custom-button>
      <app-custom-button label="History" icon="history" type="button" routerLink="/history"></app-custom-button>
    </div>
  </div>

  @if (loadingService.isLoading()) {
  <div class="loading-container">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  }
  @else if (accounts.length > 0) {
  <div class="accounts-list">
    @for (account of accounts; track account.id) {
    <mat-card class="account-row">
      <mat-card-content>
        <div class="account-info">
          <div class="account-details">
            <span class="account-type">{{ account.type | titlecase }}</span>
            <span class="account-name">{{ account.name }}</span>
          </div>
          <span class="account-balance">${{ account.balance | number:'1.2-2' }}</span>
          <app-custom-button label="Transfer" icon="swap_horiz" type="button" accountType="savings"
            [routerLink]="['/transfer']" [queryParams]="{ accountId: account.id }">
          </app-custom-button>
        </div>
      </mat-card-content>
    </mat-card>
    }
  </div>
  }
 @else {
  <div class="empty-state">
    <mat-icon>account_balance_wallet</mat-icon>
    <p>No accounts found</p>
    <app-custom-button label="Create Account" icon="add" type="button" routerLink="/accounts/create"></app-custom-button>
  </div>
  }
</div>
